<meta charset="UTF-8">
<title>Document</title>

<link rel="stylesheet" href="/css/bootstrap.min.css" />
<script src="/js/jquery.min.js"></script>
<script src="/js/tether.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<style type="text/css">

    #check_button {
        color:#ffffff;
        padding:8px 16px;
        background: #8d8d8d;
        font-size: 120%;
        font-weight: bold;
        margin-left: auto;
    }

    #check_button:hover,
    #check_button:active {
        background: #25d425;
        cursor: pointer;
    }

    #errorMessages {
        text-align: left;
        color: #2a991c;
    }

</style>
